.loader-gear {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;

  display: flex;
  margin-left: 48px;

  img {
    width: 120px;
    height: 120px;
  }
}